<h2>Recuperar contraseña</h2>

<form action="" id="forgotPasswordForm">
  <label for="">Correo</label>
  <input type="email" name="email">

  <label for="">Password</label>
  <input type="password" name="password">

  <button type="submit">Crear una nueva contraseña</button>
</form>

<script src="/js/forgotPassword.js"></script>