<h2>Login</h2>

<form action="" id="loginForm">
  <label for="">Usuario</label>
  <input type="email" name="email">

  <label for="">Password</label>
  <input type="password" name="password">

  <button type="submit">Iniciar sesión</button>
</form>

<script src="/js/login.js"></script>