<h2>Registro</h2>

<form action="" id="signupForm">
  <label for="">Nombre</label>
  <input type="text" name="first_name">

  <label for="">Apellido</label>
  <input type="text" name="last_name">

  <label for="">Edad</label>
  <input type="number" name="age">

  <label for="">Correo</label>
  <input type="email" name="email">

  <label for="">Password</label>
  <input type="password" name="password">

<button type="submit">Crear Usuario</button>

</form>

<script src="/js/signup.js"></script>
