<h2>Inicia Sesión</h2>

<form action="/users" method="POST">
  <input type="text" name="email" id="" placeholder="correo">
  <input type="password" name="password" placeholder="password">

  <button type="submit">Iniciar Sesión</button>
</form>

<script src="/js/login.js"></script>

