<h2>Registro de usuarios</h2>

<form action="/users" method="post">
  <input type="text" name="name" placeholder="Nombre">
  <input type="email" name="email" placeholder="Correo">
  <input type="password" name="password" placeholder="password">

  <button type="submit">Crear usuario</button>
</form>
