<h2>Login</h2>

<form action="" id="loginForm">
  <label for="">Usuario</label>
  <input type="email" name="email">

  <label for="">Password</label>
  <input type="password" name="password">

  <button type="submit">Iniciar sesión</button>
</form>

<br>

<a href="forgotPassword">Restaurarar contraseña</a>

<br>
<br>
<br>

<div>
  <a href="/auth/github"><button>Ingresar con GitHub</button></a>
</div>

<script src="/js/login.js"></script>